*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   background: #d4edff;
   color: #000;
}
nav ul li{
    display: inline-block;
    margin-left: 30px;
}

button{
    background-color:#548bb3;
   color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
li{
   color: #000;
    text-decoration:none;
}
a {
     color: #000;
      text-decoration: none;
}
a:hover {
  color: #548bb3;
}
.active {
  text-decoration: underline;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

main{
  background-color: #edf7ff80;
}
h1{
    text-align: center;
    padding: 10px;
}
.slider {
  position: relative;
  width: 100%;
  height: 500px;
}
.slider__items {
  height: 100%;
}

.slider__item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__item_active {
  display: block;
}

.slider__arrows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.slider__arrow:hover {
  background: rgba(0,0,0,0.3);
}

.slider__arrow_next {
  right: 0;
}

.slider__dots {
  position: absolute;
  bottom: 20px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin-right: 5px;
  cursor: pointer
}

.slider__dot_active {
  background: #fff;
}

.slider__dot:hover {
  background: #fff;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
}

.content_nam{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 20px solid #548bb3;
    margin: 0 auto;
    width: 50%;
}

.col{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 45%
}
.cards-title{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
  border:0;
}
.card{
  display: flex;
  flex-direction: column;
  width: 50%;
  border:0;
}

.card__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.card__image{
  width: 100%;
  height: 200px;
  padding: 5px;
}
.card__text{
  width:90%
}

.card__btns{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
}

.chapter{
  width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
 
}
.chapter__content{
  width: 100%;
  padding: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #548bb3;
  width: 100%;
}
.widget-area{
  background-color:#d4e9ff;
}
.anons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
 background: #d4e9ff;
}
.anons__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: #fff;
  /* justify-content: center; */
  width: 30%;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

   background: #d4e9ff;
   color: #000;

}
.footer__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
 background: #d4e9ff;
  /* justify-content: center; */
  padding: 0px;
}
.footer__item{
  padding: 30px;
}

@media  only screen and (max-width: 600px) {
  *{
    font-size: 12px;
  }
  header{
    display: block;
    text-align: center;
  }
  nav ul {
    padding-left: 0px;
    margin-top: 1rem;
  }

  .slider {
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .content_nam {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
.arrow{
  display: none;
}
.header__logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
  .col{
    width: 100%
  }
  .anons {
    flex-direction: column;
  }
  .anons__item{
    width: 100%;
  }
  .footer__content{
    flex-direction: column;
  }
  .footer__item{
    padding: 10px;
  }
}